<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login/Signup Form</title>
  <link rel="stylesheet" href="{% static 'css/login-signup.css' %}">
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>
<body>

  <div class="container">
    <div class="form-box login">
      <form method="POST" action="{% url 'web:account' %}">
        {% csrf_token %}
        <input type="hidden" name="login_form" value="1">  <!-- Identifies Login Form -->
        <h1>Login</h1>
        <div class="input-box">
          <div class="input-field">
            <input type="text" name="username" required>
            <label for="username">Username</label>
          </div>
          <i class="bx bxs-user"></i>
        </div>

        <div class="input-box">
          <div class="input-field">
            <input type="password" name="password" required>
            <label for="password">Password</label>
          </div>
          <i class="bx bxs-lock-alt"></i>
        </div>
        
        <button type="submit" class="btn">Login</button>
      </form>
    </div>

    <div class="form-box register">
      <form method="POST" action="{% url 'web:account' %}">
        {% csrf_token %}
        <input type="hidden" name="signup_form" value="1">  <!-- Identifies Signup Form -->
        <h1>Registration</h1>
        <div class="input-box">
          <div class="input-field">
            <input type="text" name="username" required>
            <label for="username">Username</label>
          </div>
          <i class="bx bxs-user"></i>
        </div>

        <div class="input-box">
          <div class="input-field">
            <input type="email" name="email" required>
            <label for="email">Email</label>
          </div>
          <i class="bx bxs-envelope"></i>
        </div>

        <div class="input-box">
          <div class="input-field">
            <input type="password" name="password" required>
            <label for="password">Password</label>
          </div>
          <i class="bx bxs-lock-alt"></i>
        </div>

        <div class="input-box">
          <div class="input-field">
            <input type="password" name="confirm_password" required>
            <label for="confirm_password">Confirm Password</label>
          </div>
          <i class="bx bxs-lock-alt"></i>
        </div>

        <button type="submit" class="btn">Register</button>
      </form>
    </div>

    <div class="toggle-box">
      <div class="toggle-panel toggle-left">
        <h1>Welcome Back!</h1>
        <p>Don't have an account?</p>
        <button class="btn register-btn">Register</button>
      </div>

      <div class="toggle-panel toggle-right">
        <h1>Hello, Welcome!</h1>
        <p>Already have an account?</p>
        <button class="btn login-btn">Login</button>
      </div>
    </div>
  </div>

  <script src="{% static 'js/auth.js' %}"></script>
</body>
</html>
